# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other stuff
*.pdf
*.bin
grub/
*.iso
*.sublime-project
*.sublime-workspace
obj/
bin/
map.txt
.bochsrc
